{
  "presets": ["es2015", "stage-0", "react"],
  "plugins": ["add-module-exports", "transform-runtime","transform-decorators-legacy",["antd", {
     "libraryDirectory": "lib",
     "libraryName": "antd"
   }]]
}
